# source repo (if downloaded from https://github.com/VMarsocci/emb2heights-baselines)
emb2heights-baselines

# venv
.venv
venv

# data
data/*
!data/.gitignore

# submissions
submission/*
!submission/.gitignore

# runs
runs/**/*.pth
runs/**/*.npy
runs/**/*.txt
runs/**/*.png
!runs/**/component_losses.png
!runs/**/loss_curve.png
!runs/**/viz_4.png

# cache
__pycache__